<a href="https://colab.research.google.com/github/alexv710/debias_cv_data/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import io

In [21]:
temp_data = pd.io.stata.read_stata("data_candidates_sample_tab6.dta")
temp_data.to_csv('data_candidates_sample_tab6.csv')

temp_data = pd.io.stata.read_stata("data_candidates_sample_tab7_tabA9.dta")
temp_data.to_csv('data_candidates_sample_tab7_tabA9.csv')

temp_data = pd.io.stata.read_stata("data_recruiters.dta")
temp_data.to_csv('data_recruiters.csv')

FileNotFoundError: ignored

In [44]:
# read the mainsample.dta file for further processing 
data = pd.io.stata.read_stata("data_candidates_mainsample.dta")
data.to_csv('data_candidates_mainsample.csv')

In [17]:
# Import the mainsample via StataReader to use variable_labels (old version of the read_stata)
data_stata = pd.io.stata.StataReader("data_candidates_mainsample.dta")
data_labels = data_stata.variable_labels()

In [23]:
data.columns

Index(['ID_OFFRE', 'ID_CANDIDAT', 'CVA', 'REFUSAL', 'ENTRETIEN', 'RECRUTE',
       'POIDS_SEL', 'PREN_MUSULMAN', 'ZUS_CUCS', 'ORIGINE_IM_1',
       ...
       'SALREV_SMIC_2_c', 'ZouI_pred', 'BAD_ANO', 'CVAxetudes_etranger',
       'CVAxtravail_etranger', 'CVAxlangue_arabe', 'CVAxBAD_ANO', 'MI',
       'CVAxMI', 'missing_CV'],
      dtype='object', length=938)

In [19]:
# Write the Labels into a csv
import csv

with open('dataLabels.csv', 'w') as f:  # You will need 'wb' mode in Python 2.x
    w = csv.DictWriter(f, data_labels.keys())
    w.writeheader()
    w.writerow(data_labels)

In [48]:
# Remove all columns in the dataset for which no labels exist
# Those are mostly columns needed for p-tests and some matrix calculations in
# Stata. The outputted labels are those that are kept in the data

for key, value in data_labels.items():
  for col in data.columns:
    if key==col:
      if len(value)==0 or value.startswith('ID_OFFRE=='):
        data = data.drop(columns=col)
      else:
        print(key + ':      ', value)

ID_OFFRE:       Identifier vacancy
ID_CANDIDAT:       Identifier candidate
CVA:       Treatment: anonymous resume
REFUSAL:       Recruiter refused the experiment
ENTRETIEN:       Interviewed
RECRUTE:       Hired
POIDS_SEL:       Sampling weights (within and out of the experiment)
PREN_MUSULMAN:       Muslim souding name
ZUS_CUCS:       Deprived neighborhood
ORIGINE_IM_1:       Immigrant
ORIGINE_IM_2:       Child of immigrant (father)
ORIGINE_IM_12:       Immigrant or child of immigrant
ZouI:       Minority (immigrant or child of immigrant or residing in deprived neighborhood)
ZetI:       Residing in deprived neighborhood and with foreign bachkground (child of or immi
FEMME:       Female candidate
a50p:       Candidate over 50 years old
a3049:       Candidate between 30 and 49 years old
a26m:       Candidate below 26 years old
dip_aucun:       No diploma
dip_bepcap:       Professional degree
dip_bac:       High school diploma
dip_bac2p:       Upper education degree
dip_bac2:       L2 (diploma 2 years after high school)
dip_bac3p:       At least L3 (diploma 3 years after high school)
duree_expro_offre:       Work experience for the job advertised (in years)
recherche_LD:       Candidate has been looking for a job for at least one year
recherche_TLD:       Candidate has been looking for a job for at least two years
SALREV_SMIC_2:       Reservation wage of the candidate is the minimum wage
FEMME_c:       Female candidate (centered)
a30m_c:       Candidate below 30 years old (centered)
a3049_c:       Candidate between 30 and 49 years old (centered)
a50p_c:       Candidate over 50 years old (centered)
dip_aucun_c:       No diploma (centered)
dip_bepcap_c:       Professional degree (centered)
dip_bac_c:       High school diploma (centered)
dip_bac2p_c:       Upper education degree (centered)
recherche_LD_c:       Candidate has been looking for a job for at least one year (centered)
recherche_TLD_c:       Candidate has been looking for a job for at least two years (centered)
permis:       Candidate has a driving license (Resume)
etudes_etranger:       Candidate has studied abroad (Resume coding)
travail_etranger:       Candidate has worked abroad (Resume coding)
langue_anglais:       Candidate speaks English (Resume)
langue_arabe:       Candidate speaks Arabic (Resume)
langue_autres:       Candidate speaks another foreign language (Resume)
codage_cv:       Resume has been coded
CV_note_7p:       High overall rating (Resume coding)
CV_hesit:       Uncertain rating (Resume coding)
CV_inactivite:       Interrupted work history (Resume coding)
CV_qualif:       Adequate skills (Resume coding)
CV_experience_3p:       Adequate work experience (Resume coding)
CV_note_2:       Low grade (Resume coding)
CV_note_3:       Medium grade (Resume coding)
CV_note_4:       High grade (Resume coding)
CV_note_5:       Very high grade (Resume coding)
CV_hesit_:       Uncertain rating scale 1-4 (Resume coding)
CV_qualif_sup:       Candidate overqualified for the vacancy (Resume coding)
CV_qualif_inf:       Candidate underqualified for the vacancy (Resume coding)
CV_experience_:       Adequate work experience scale 1-4 (Resume coding)
CV_attrayant_:       Attractive resume (Resume coding)
CV_formation_:       Adequate skills (Resume coding)
effent_200plus:       Firm size greater than 200 employees (vacancy)
service_nm:       Non-market services (vacancy)
service_m:       Market services (vacancy)
industrie:       Manufacturing (vacancy)
construction:       Construction (vacancy)
cadre:       Upper occupation (vacancy)
profint:       Intermediary occupation (vacancy)
eoq:       Skilled white or blue collar (vacancy)
CDI:       Indefinite duration contract (vacancy)
CNT_sup6m:       Temporary contract for more than 6 months (vacancy)
poste_unique:       Vacnacy with only one position
ALE_1:       Dummy for local job center
ALE_2:       Dummy for local job center
ALE_3:       Dummy for local job center
ALE_4:       Dummy for local job center
ALE_5:       Dummy for local job center
ALE_6:       Dummy for local job center
ALE_7:       Dummy for local job center
ALE_8:       Dummy for local job center
ALE_9:       Dummy for local job center
ALE_10:       Dummy for local job center
ALE_11:       Dummy for local job center
ALE_12:       Dummy for local job center
ALE_13:       Dummy for local job center
ALE_14:       Dummy for local job center
ALE_15:       Dummy for local job center
ALE_16:       alesuivi==      .
CVAxORIGINE_IM_12:       Interaction CVA X ORIGINE_IM_12
CVAxZUS_CUCS:       Interaction CVA X ZUS_CUCS
CVAxZetI:       Interaction CVA X ZetI
C:       Constant
ZouI0:       Majority (not immigrant, not child of immigrant and not residing in deprived nei
CVA0:       Control group: name-bearing resumes
p_offre1:       Vacancy dummy (ID_OFFRE==1)
control_manquant:       Some covariates missing
ZouI_pred:       Pr(ZouI)

In [37]:
data['']

      ID_OFFRE  ID_CANDIDAT  CVA  ...  p_offre1  control_manquant  ZouI_pred
0          1.0       1759.0  1.0  ...  0.998203               0.0        NaN
1          1.0       6177.0  1.0  ...  0.998203               0.0        NaN
2          2.0        371.0  0.0  ... -0.001797               0.0        NaN
3          3.0        230.0  0.0  ... -0.001797               0.0        NaN
4          4.0       1885.0  0.0  ... -0.001797               0.0   0.359026
...        ...          ...  ...  ...       ...               ...        ...
1466  776959.0          NaN  NaN  ...       NaN               1.0        NaN
1467  776959.0          NaN  NaN  ...       NaN               1.0        NaN
1468  776959.0          NaN  NaN  ...       NaN               1.0        NaN
1469     820.0          NaN  NaN  ...       NaN               1.0        NaN
1470     820.0          NaN  NaN  ...       NaN               1.0        NaN

[1471 rows x 96 columns]

In [46]:
data.to_csv('data_mainsample_cleaned.csv')