<a href="https://colab.research.google.com/github/alexv710/debias_cv_data/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import io

In [7]:
data = pd.io.stata.read_stata("data_candidates_mainsample.dta")
data.to_csv('data_candidates_mainsample.csv')

data = pd.io.stata.read_stata("data_candidates_sample_tab6.dta")
data.to_csv('data_candidates_sample_tab6.csv')

data = pd.io.stata.read_stata("data_candidates_sample_tab7_tabA9.dta")
data.to_csv('data_candidates_sample_tab7_tabA9.csv')

data = pd.io.stata.read_stata("data_recruiters.dta")
data.to_csv('data_recruiters.csv')

In [ ]:
data

      alepof  statut  TRAVAIL_EQUIPE  ...  REFUSAL  POIDS_RECRUTEUR  PARTICIPATE
0      13421     NaN             NaN  ...      1.0              NaN          0.0
1      92053     NaN             NaN  ...      1.0              NaN          0.0
2      44155     NaN             NaN  ...      1.0              NaN          0.0
3      44021     NaN             NaN  ...      0.0              NaN          1.0
4      69295     NaN             NaN  ...      1.0              NaN          0.0
...      ...     ...             ...  ...      ...              ...          ...
1608   69153     NaN             NaN  ...      0.0              NaN          1.0
1609   69184     NaN             NaN  ...      0.0              NaN          1.0
1610   69184     3.0             0.0  ...      0.0         1.681223          1.0
1611   67180     NaN             NaN  ...      0.0              NaN          1.0
1612   75670     NaN             NaN  ...      1.0              NaN          0.0

[1613 rows x 44 columns]

In [17]:
data_stata = pd.io.stata.StataReader("data_candidates_mainsample.dta")
data_labels = data_stata.variable_labels()

In [18]:
type(data_labels)

dict

In [19]:
import csv

with open('dataLabels.csv', 'w') as f:  # You will need 'wb' mode in Python 2.x
    w = csv.DictWriter(f, data_labels.keys())
    w.writeheader()
    w.writerow(data_labels)